body {
  background: black;
  margin: 0;
  padding: 0;
}

nav {
    position: fixed;
    top: 20px;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 15px 40px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-color:#886969;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

nav li {
    display: inline;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: white;
    border-radius: 5px;
    opacity: 0.3;
}

#animation {
  color: #886969;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  z-index: 500;
  position: relative;
}